<p id="notice"><%= notice %></p>

<h3 style="text-align: center;">My Books</h3>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Book Edition</th>
      <th>Price</th>
      <th>Semester</th>
      <!--<th>price_id</th> -->
      <th>mybook_id</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mybooks.each do |mybook| %>
      <% if mybook.user == current_user %>
      <tr>
        <td><%= mybook.title %></td>
        <td><%= mybook.subject %></td>
        <td><%= mybook.instagram %></td>
        <td><i>₹</i><%= mybook.price %></td>
        <td><%= mybook.semester %></td>
        <% mybook.stripe_price_id %>
        <td><%= mybook.stripe_mybook_id %></td>

        
        
        

        <td><%= link_to 'Show Details', mybook, class:"btn btn-primary" %></td>
        
        <td><%= link_to 'Edit Book', edit_mybook_path(mybook), class:"btn btn-success" %></td>
        <td><%= link_to 'Delete', mybook, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Book', new_mybook_path %>
