<style>.im {
  border: 2px solid gray;
  
  float: left;
}
.userdetail{

 
  float: right;
  

}

.userdetail >.ptag{
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  }

.bookdetails >.ptag{
  color: black;
  font-weight: bold;
  margin-bottom: 20px;

  }  

.bookdetails{

  margin-bottom: 100px;
}  

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.form-group .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

</style>

<div class= "margin-top-right-bot-left" style="margin: 0px 60px 20px 60px;">
<p id="notice"><%= notice %></p>
<% if user_signed_in? %>

  <div class="im" style="">
<%= link_to (image_tag @mybook.image, height:"300px", width:"200px"), @mybook %>
</div>

<div class="userdetail" style="padding-right: 15%">
 <h5 class="ptag"> </h5>


<p>
  <strong>Book Condition:</strong>
  <%= @mybook.year %>
</p>

<p>
  <strong>Book Edition:</strong>
  <%= @mybook.instagram %>
</p>

<p>
  <strong>Author:</strong>
  <%= @mybook.name %>
</p>


</div>

<div class="bookdetails" style="padding-left: 30%">
<h5 class="ptag">Book Details</h5>
<p>

  <strong>Title:</strong>
  <%= @mybook.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @mybook.subject %>
</p>

<p>

  <% @mybook.stripe_price_id %>
</p>

<p>
  <strong>Price:</strong>
  <i>₹</i><%= @mybook.price %>
</p>


<p>
  <strong>Branch:</strong>
  <%= @mybook.email %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @mybook.semester %>
</p>

<p>
  <strong>Book Description:</strong>
  <%= @mybook.description %>
</p>

<% button_to "Buy", checkout_create_path, params: {id: @mybook.id}, remote: true, data: {turbo: false} %>

</div>

<br>
   <div class="form-group" style="padding-left: 10%">
    <%= link_to 'Back', mybooks_path, class:"btnSubmit" %>
  </div>




<% else %>




<div class="cddd">
  <h2></h2>

  <div class="alert alert-info">
    <strong>Login First!!</strong>
  </div>

<%= link_to "Login", new_user_session_path %>
</div>





<% end %>
</div>